
*.npz
Phase_2/data/stimuli/podcast_1.wav
Phase_2/data/stimuli/podcast_10.wav
Phase_2/data/stimuli/podcast_11.wav
Phase_2/data/stimuli/podcast_12.wav
Phase_2/data/stimuli/podcast_13.wav
Phase_2/data/stimuli/podcast_14.wav
Phase_2/data/stimuli/podcast_15.wav
Phase_2/data/stimuli/podcast_16.wav
Phase_2/data/stimuli/podcast_17.wav
Phase_2/data/stimuli/podcast_18.wav
Phase_2/data/stimuli/podcast_19.wav
Phase_2/data/stimuli/podcast_2.wav
Phase_2/data/stimuli/podcast_20.wav
Phase_2/data/stimuli/podcast_21.wav
Phase_2/data/stimuli/podcast_22.wav
Phase_2/data/stimuli/podcast_23.wav
Phase_2/data/stimuli/podcast_24.wav
Phase_2/data/stimuli/podcast_25.wav
Phase_2/data/stimuli/podcast_26.wav
Phase_2/data/stimuli/podcast_27.wav
Phase_2/data/stimuli/podcast_28.wav
Phase_2/data/stimuli/podcast_29.wav
Phase_2/data/stimuli/podcast_3.wav
Phase_2/data/stimuli/podcast_30.wav
Phase_2/data/stimuli/podcast_31.wav
Phase_2/data/stimuli/podcast_32.wav
Phase_2/data/stimuli/podcast_33.wav
Phase_2/data/stimuli/podcast_34.wav
Phase_2/data/stimuli/podcast_35.wav
Phase_2/data/stimuli/podcast_36.wav
Phase_2/data/stimuli/podcast_37.wav
Phase_2/data/stimuli/podcast_4.wav
Phase_2/data/stimuli/podcast_5.wav
Phase_2/data/stimuli/podcast_6.wav
Phase_2/data/stimuli/podcast_7.wav
Phase_2/data/stimuli/podcast_8.wav
Phase_2/data/stimuli/podcast_9.wav
Phase_2/data/stimuli/audiobook_1.wav
Phase_2/data/stimuli/audiobook_10_1.wav
Phase_2/data/stimuli/audiobook_10_2.wav
Phase_2/data/stimuli/audiobook_11_1.wav
Phase_2/data/stimuli/audiobook_11_2.wav
Phase_2/data/stimuli/audiobook_12_1.wav
Phase_2/data/stimuli/audiobook_12_2.wav
Phase_2/data/stimuli/audiobook_13_1.wav
Phase_2/data/stimuli/audiobook_13_2.wav
Phase_2/data/stimuli/audiobook_14_1.wav
Phase_2/data/stimuli/audiobook_14_2.wav
Phase_2/data/stimuli/audiobook_1_1.wav
Phase_2/data/stimuli/audiobook_1_1_shifted.wav
Phase_2/data/stimuli/audiobook_1_2.wav
Phase_2/data/stimuli/audiobook_1_2_shifted.wav
Phase_2/data/stimuli/audiobook_1_artefact.wav
Phase_2/data/stimuli/audiobook_2_1.wav
Phase_2/data/stimuli/audiobook_2_2.wav
Phase_2/data/stimuli/audiobook_3.wav
Phase_2/data/stimuli/audiobook_4.wav
Phase_2/data/stimuli/audiobook_5_1.wav
Phase_2/data/stimuli/audiobook_5_2.wav
Phase_2/data/stimuli/audiobook_5_3.wav
Phase_2/data/stimuli/audiobook_6_1.wav
Phase_2/data/stimuli/audiobook_6_2.wav
Phase_2/data/stimuli/audiobook_7_1.wav
Phase_2/data/stimuli/audiobook_7_2.wav
Phase_2/data/stimuli/audiobook_7_3.wav
Phase_2/data/stimuli/audiobook_7_4.wav
Phase_2/data/stimuli/audiobook_7_5.wav
Phase_2/data/stimuli/audiobook_7_6.wav
Phase_2/data/stimuli/audiobook_8_1.wav
Phase_2/data/stimuli/audiobook_8_2.wav
Phase_2/data/stimuli/audiobook_9_1.wav
Phase_2/data/stimuli/audiobook_9_2.wav
Phase_2/data/stimuli/misc_1.wav
Phase_2/data/stimuli/misc_10.wav
Phase_2/data/stimuli/misc_11.wav
Phase_2/data/stimuli/misc_12.wav
Phase_2/data/stimuli/misc_2.wav
Phase_2/data/stimuli/misc_4.wav
Phase_2/data/stimuli/misc_5.wav
Phase_2/data/stimuli/misc_7.wav
Phase_2/data/stimuli/misc_8.wav
Phase_2/data/stimuli/misc_9.wav
